*{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6 {
    padding:10px;
}
li{
    list-style-type:none;
}


header {
    width: 100%;
    background-color: #57b4d3;
    width:10%;
}
header label{
    display:none;
    width:30px;
    height:30px;
    padding:10px;
    border-right: 1px solid #fff;

}
header label:hover{
    cursor:pointer;
    background-color:rgba(0,0,0.3);
}
#btn-menu {
    display:none;

}
.menu ul{
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content:center;

}
.menu li:hover {
    background-color: rgba(0,0,0.3);
}
.menu li a {
font-weight: bold;
display:block;
padding:15px 20px;
color:#fff;

}
#main {
    margin-top:5px;

}
.container {
    width: 70%;
    height:auto;

}
.banner-right ul li a img{
    width:10%;
}
